/* 首页中间打字效果上方 */
#page-header #site_title {
    color: #9ddd08;
}
/* 顶部导航栏 */
#nav a {
    color: #0cf3cd;
}
/* 博主昵称颜色 */
.author-info__name {
    color: #13f597;
}

/* 页脚透明 */

#footer {
    background: transparent !important;
}
/* a标签默认颜色 */

#article-container a {
    color: #00c4b6;
    text-decoration: none;
}

/* 鼠标悬停时的颜色 */

#article-container a:hover {
    color: #e58a8a;
    text-decoration: none;
}
/*a标签颜色*/
a {
    color: #00c4b6;
}